
html{
	background-image: url("../img/dots.jpg");	
}
body{
width:80%;
margin:0 auto;
padding-top:8%;

}


h1{
background: rgba(0,0,0,.5);
text-align:center;
margin: 0 auto;
color:white;
}

.container{
padding-top: 6%;
width:80%;
display: flex;
justify-content: space-around;
margin:0 auto;

}

.click-me{
border:1px solid red;
width: 160px;
height: 80px;
background: -webkit-linear-gradient(top, rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%);
border-radius: 40px;
text-align:center;
cursor:pointer;
color:white;
}

p{
padding-top:9%;
}